body{
	background-color: #000000;
	margin: 5px
}

#conteneur{
	display:grid;
	grid-template-columns: repeat(4, 1fr);
	background-color:#FFFFFF;
}

#corps{
	grid-column:1/4;
}

#menu{
	grid-column:4;
}